<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Therapist Page</title>
</head>
<body>
    <h2><%= therapistData.name %> </h2>
    <ul>
        <li><%= therapistData.gender %> </li>
        <li><%= therapistData.language %> </li>
        <li><%= therapistData.expertise %> </li>
        <li><%= therapistData.address %> </li>
        <li><%= therapistData.email %> </li>
        <li><a href="<%= therapistData.website %>"><%= therapistData.website %> </a></li>
    </ul>
</body>
</html>